# YandexGPT API credentials
# Получите свои ключи на https://console.cloud.yandex.ru/

YANDEX_API_KEY=AQVN_your_yandex_api_key_here
YANDEX_FOLDER_ID=b1g_your_folder_id_here

# Порт сервера (по умолчанию 3001)
PORT=3001
